<%- include("parts/header")  %> 

<div class="about" style="padding:50px; margin-top:100px;">
    <div class="container d-flex">
        <div class="">
        <p class="text-light  " style="line-height:32px;width:400px;"><a  class="  h1  p-3 fw-bolder bg-dark" style="color:yellow">Olx</a> is the only full go-to-market engine that enables smarter decisions and better outcomes with actionable intelligence in making customer connections. Our platform includes a suite of data-driven products for market intelligence, omnichannel media activation, testing and measurement, enabling brands and agencies to make predictions, improve strategic planning and drive growth on the most important customer channels.

        </p>
    </div>
    <div class="">
        <!-- <img  src="http://www.mikiyakobayashi.com/projects/product/yh-e500a/" alt=""> -->
        <p class="text-danger display-1 ms-4 ps-4 text-center w-100">Bu yerga rasm qo'yiladi</p>
    </div>
    </div>
</div>

<%- include("parts/footer")  %> 
