<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olx.uz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="full-page mt-4 ">
        <nav class="navbar navbar-light  container" style="background-color: rgb(250, 205, 4)" >
            <div class="container-fluid">
                <a  class="  h1  p-3 fw-bolder bg-dark" style="color:yellow">Olx</a>
              <div class="d-flex">
                <a class="nav-link active text-dark fw-bolder fs-6 me-3"  href="#">Home</a>
                <a class="nav-link active  text-dark fw-bold me-3" href="#">About</a>
                <a class="btn-outline-dark btn me-3" href="#">E'lon berish</a>
                
                <button class="btn btn-outline-dark me-2" type="button">Sign In</button>
                
            </div></div>
          </nav>
    </div>

    <div class="content my-3  " style="padding:80px 0px;">
        <div class="container">
            <h2 class="text-center text-light h1  mb-4"> List of ads</h2>
<ul class="content-list  d-flex justify-content-between align-items-center flex-wrap">
    <li class="content-item mt-3">
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/YqFd6KWs/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </li>
    <li class="content-item mt-3">
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/YqFd6KWs/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </li>
    <li class="content-item mt-3">
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/YqFd6KWs/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </li>
    <li class="content-item mt-3">
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/YqFd6KWs/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </li>
</ul>
        </div>
    </div>
    


    <!-- footer -->

    
	<footer class="site-footer text-light  " style="padding:80px 0px; border-top:2px solid white;">
		<div class="container">
			<div class="row justify-content-between  section-padding">
				<div class=" col-xl-3 col-lg-4 col-sm-6">
					<div class="single-footer pb--40">
						<div class="brand-footer footer-title">
							<a  class="  h1 display-4 fw-bolder bg-dark" style="color:yellow">Olx</a>
						</div>
						<div class="footer-contact">
							<p><span class="label">Address: </span><span class="text"> Toshkent Olmazor region Sebzar 35-A 62</span></p>
							<p><span class="label">Phone:</span><span class="text">+998931487733</span></p>
							<p><span class="label">Email:</span><span class="text">rustambek0301@gmail.com</span></p>
						</div>
					</div>
				</div>
				<div class=" col-xl-3 col-lg-2 col-sm-6">
					<div class="single-footer pb--40">
						<div class="footer-title">
							<h3>Information</h3>
						</div>
						<ul class="footer-list normal-list list-unstyled ">
							<li><a  class="text-decoration-none" href="">Prices drop</a></li>
							<li><a  class="text-decoration-none" href="">New products</a></li>
							<li><a  class="text-decoration-none" href="">Best sales</a></li>
							<li><a  class="text-decoration-none" href="">Contact us</a></li>
							<li><a  class="text-decoration-none" href="">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-2 col-lg-2 col-sm-6">
					<div class="single-footer pb--40">
						<div class="footer-title">
							<h3>Extras</h3>
						</div>
						<ul class="footer-list normal-list list-unstyled text-decoration-none">
							<li><a  class="text-decoration-none" href="">Delivery</a></li>
							<li><a  class="text-decoration-none" href="">About Us</a></li>
							<li><a  class="text-decoration-none" href="">Stores</a></li>
							<li><a  class="text-decoration-none" href="">Contact us</a></li>
							<li><a  class="text-decoration-none" href="">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class=" col-xl-4 col-lg-4 col-sm-6">
					<div class="footer-title">
						<h3>Newsletter Subscribe</h3>
					</div>
					<div class="newsletter-form mb--30  mt-3">
						<form action="./php/mail.php">
							<input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
							<button class="btn btn-outline-primary mt-2 text-light w-100">Subscribe</button>
						</form>
					</div>
				
				</div>
			</div>
		</div>